body {
  color: black;

  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%238c8c8c' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");


}

.well {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}
#searchCity {width: 90%;}
.btn-group {
  margin-top: 10px;
}

.container {
  margin-top: 20px;
  background-image: url("../images/clouds.jpg");
  background-position: 50%, 50%;
  border-style: solid;
  border-radius: 10px;
  border-color: #8c8c8c;
}

i {
  font-size: 120pt;
  margin: 5px, 5px, 8px, 5px;
}

li {
  font-size: 16pt;
}
